**.idea/
**.vscode/
**.egg-info/
**wandb/
**tb/
**.gif
**.ckpt
**.pyc
***__pycache__/
**.pytest_cache/
synthetic-cloth-data/data/
synthetic-cloth-data/data_backup**
**.log
**/coco.json

pyflex/PyFlex/bindings/build/
**artifacts/
**lightning_logs/
